.homeButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-top: 50% !important;

}

.infoCenter {
  margin-top: 60% !important;

}


.favorisCenter {
  margin-top: 10% !important;

}
